{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    PARdesigns
                </h1>
            </div>
            <div class="col-12 col-md-8 my-auto">
                 <h3 class="lead text-black">
                    You have an idea. We make it real.
                </h3>
            </div>
        </div>
    </div>
{% endblock %}