{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    You have an idea. <br>
                    We bring it to life.
                <div class="my-3">
                <h4>
                    <a href="" class="start-button btn-primary btn-lg text-uppercase my-auto">Start your project</a>
                </h4>
            </div>
            </div>
        </div>
    </div>
{% endblock %}