{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    PARdesigns
                </h1>
                <br>
                 <h3 class="lead text-black">
                    You have an idea. We make it real.
                </h3>
            </div>
            <div class="col-7 col-md-6 my-3">
                <h4>
                    <a href="" class="btn-primary btn-lg text-uppercase my-auto">Start your project</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}