{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h2 class="text-white text-uppercase">About us</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="h-100 border-0">
                     <div class="text-center text-white">
                        <div><i class="fas fa-info fa-lg"></i></div>
                        </div>   
                </div>
            </div>
            <div class="col-12 text-center mx-auto">
                <div class="text-white h-100 border-0">
                    <div class="card-body">
                        <p class="text-white">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis, nibh in luctus tempor, dolor mauris feugiat risus, vitae euismod justo diam ut turpis. Cras volutpat varius justo, eget sodales quam semper commodo. Ut porttitor, erat sit amet blandit condimentum, neque lorem molestie tellus, non ullamcorper est tellus sed nisl. Curabitur tempor molestie eros, in vehicula lorem pulvinar eu. In iaculis, quam sit amet malesuada gravida, ligula ante placerat nunc, vel viverra velit velit in nisi. Aliquam dictum, risus nec ultricies dignissim, sem velit sollicitudin nulla, sit amet congue nibh purus ac quam. Phasellus fringilla orci non sagittis ultricies. Sed viverra id sapien eget lacinia. Etiam sit amet ipsum laoreet, convallis tortor quis, consectetur sapien.<br><br>

                            Etiam sed placerat felis. Donec consectetur nulla a quam ultricies, sed fringilla leo finibus. Nullam in dapibus magna. Nunc commodo purus at lacus fermentum, a lobortis erat suscipit. Sed in dignissim erat. Vestibulum pharetra, lectus sed vehicula vestibulum, ligula ligula bibendum diam, ut luctus ante massa in enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus ut tincidunt augue. Nullam eget augue feugiat, facilisis lacus sit amet, egestas mauris. Duis semper mollis ipsum nec rutrum. Integer fringilla mattis magna id molestie. Vestibulum condimentum, justo in commodo suscipit, enim diam gravida nulla, vel ultricies nisl arcu et augue. Donec dictum laoreet odio, ac bibendum dolor tincidunt id. Proin dapibus vitae lorem euismod consectetur. Morbi nisl nisl, accumsan ac cursus et, sodales ac ante.
                        </p>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-12 text-center">
            <a href="{% url 'services' %}" class="btn order-btn rounded-0 mt-5">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span class="text-uppercase text-white">Home</span>
            </a>               
        </div>
    </div>


{% endblock %}