{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h2 class="text-white text-uppercase">Contact us</h2>
            </div>
        </div>

        <div class="contact-row py-5">
            <div class="col-12">
                <div class="text-white mx-auto mb-3 h-100 border-0">
                   <form method="POST" action="{% url 'contact' %}">
                        <div class=" col-12 mt-4">
                        {% csrf_token %}
                        {{ contact_form|crispy }}
                        </div>
                        <div class="text-center mt-4 form-actions">
                            <button type="submit" id="contact-form-btn" 
                                    class="btn cart-btn text-uppercase w-30%">
                                <i class="fas fa-paper-plane mr-2"></i> Send
                            </button>
                        </div>
                    </form>  
                </div>
            </div> 
        </div>
    </div>

{% endblock %}
