{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h2 class="text-white text-uppercase"> Services Management</h2>
                <br>
                <h5 class="lead text-white">Add a New Service</h5>
            </div>
        </div>
    </div>

    <div class="contact-row">
        <div class="col-12 py-5">
            <div class="text-white mx-auto mb-3 h-100 border-0">
                <form method="POST" action="{% url 'add_service' %}" class="form mb-2">
                    {% csrf_token %}
                    {% for field in form %}
                            {{ field }}
                    {% endfor %}
                    <div class="col-12 mt-2 pb-3">
                        <a href="{% url 'services' %}" class="btn cart-btn mt-5">
                            <span class="icon">
                                <i class="fas fa-minus-circle"></i>
                            </span>
                            <span class="text-uppercase text-white">Cancel</span>
                        </a>
                                            
                        <button class="order-btn btn mt-5" type="submit">
                            <span class="icon">
                                    <i class="fas fa-plus-circle"></i>
                            </span>
                            <span class="text-uppercase text-white">Add service</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>            
    </div>
   
{% endblock %}