{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="text-white text-uppercase"> {{ category.friendly_name }}</h2>
            </div>
        </div>
        <div class="row-designs">
            <div class="col-12 h-100">
    			<div id="carouseldesigns" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
					{% for design in services %} 
                            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                <a href="{{ design.image.url }}" target="_blank">
                                    <img class="w-100 img-fluid" src="{{ design.image.url }}" alt="{{ design.name }}">
                                </a>
                        </div>

					  {% endfor%}
                    </div>
                </div>
            </div>
         </div>
    <div class="row">
        <div class="col-12 h-100">



        </div>
    </div>
    </div>

{% endblock %}

